@import '../variables';

.container {
  font-size: 18px;
  height: 32px;
  display: flex;
  gap: @space-xs;
  align-items: center;
}

.item {
  color: @transparent-6;
  line-height: 18px;
  transition: color 0.15s;
  -webkit-transition: color 0.15s;
  &:hover {
    color: @text-color-full;
  }
}

.separator {
  font-size: 16px;
  color: @transparent-6;
}

.item_active {
  &, &:hover, &:active {
    color: @text-color-full;
  }
}