.container {
    font-size: 18px;
    height: 32px;
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

.item {
    color: rgba(255, 255, 255, 0.6);
    line-height: 18px;
    transition: color 0.15s;
    -webkit-transition: color 0.15s;
}

.separator {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.item_active, .item:active, .item:hover {
    color: var(--color-white);
}
