.main {
    line-height: 24px;
    background: var(--color-sunset-orange);
    border-color: var(--color-sunset-orange);
}

.main:hover, .main:active, .main:focus {
    background: var(--color-sunset-orange-light);
    border-color: var(--color-sunset-orange-light);
}