@import '../variables';

.main {
  line-height: 24px;
  background: @orange-primary;
  border-color: @orange-primary;
  &:hover, &:active, &:focus {
    background: @orange-secondary;
    border-color: @orange-secondary;
  }
}