@import '../variables';

.menu {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.item {
  margin: @space-3xs 0;
  width: @sidebar-width - @space-m;

  &:hover {
    background-color: @orange-primary;
  }
}