.container {
    padding: var(--space-s) var(--space-m) var(--space-xs) var(--space-m);
    border-radius: var(--control-radius);
    background: var(--color-control-bg-ghost);
    color: var(--color-control-typo-ghost);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.container:hover {
    background: var(--color-control-bg-ghost-hover);
    color: var(--color-control-typo-ghost-hover);
}

.title {
    margin-bottom: var(--space-xs);
    font-size: 16px;
}

.titleText {
    margin-left: 6px;
}

.info {
    line-height: 28px;
    height: 28px;
}

.space {
    font-size: 28px;
}