@import '../variables';

.main {
  padding: @space-xs - @space-3xs @space-xs;
  display: flex;
  align-items: center;
  width: 100%;
  color: @control-ghost-typo-primary;
  background-color: transparent;
  box-shadow: none;

  &:not(:disabled):hover, &:not(:disabled):active {
    background-color: @magenta-primary;
  }
}

.dropdown {
  ul {
    width: @sidebar-width !important;
  }
}

.upload {
  input[type="file"] {
    display: none;
  }
}