@import '../variables';

.dropdown {
  ul {
    width: @sidebar-width - @space-xl;
  }

  li {
    padding: 0 !important;
    margin: @space-3xs 0 !important;
  }
}

.item {
  cursor: pointer;
  padding: @space-xs - @space-3xs @space-xs;
  height: 32px;
  display: flex;
  align-items: center;
  gap: @space-xs;
  line-height: 20px;
  border-radius: 2px;
  color: @control-ghost-typo-primary;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;

  &:hover {
    color: @control-ghost-typo-secondary;
    background-color: @magenta-primary;
  }
}