@import '../variables';

.main {
  padding: @space-xs - @space-3xs @space-xs;
  display: flex;
  align-items: center;
  width: 100%;
  color: @control-ghost-typo-primary;
  background-color: transparent;
  box-shadow: none;

  &:not(:disabled):hover, &:not(:disabled):active {
    background-color: @magenta-primary;
  }
}

.dropdown {
  ul {
    width: @sidebar-width !important;
  }
}

.upload {
  input[type="file"] {
    display: none;
  }
}

.shared__menu {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;

  &__item {
    margin: @space-2xs 0;
  }
}