@import "../variables";

.main {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: @fileTable-width;
  max-width: @fileTable-width;
  font-size: 14px;
  line-height: 16px;
  color: @fileTable-typo-primary;
  border-radius: @border-radius;

  .header {
    background-color: @fileTable-bg-primary;
    &:hover {
      background-color: @fileTable-bg-hover;
      box-shadow: 0 -1px 0 @transparent-1 inset;
    }
  }

  .row {
    background-color: @fileTable-bg-secondary;

    &:nth-child(even) {
      background-color: @fileTable-bg-primary;
    }

    &:hover {
      background-color: @fileTable-bg-hover;
      color: @fileTable-typo-secondary;
    }
  }
}

.disableHeader {
  .row {
    background-color: @fileTable-bg-primary;

    &:nth-child(even) {
      background-color: @fileTable-bg-secondary;
    }

    &:hover {
      background-color: @fileTable-bg-hover;
      color: @fileTable-typo-secondary;
    }
  }
}

.header {
  display: flex;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;

  > div {
    cursor: pointer;
    padding: @space-s @space-3xl @space-s @space-s;
    color: @fileTable-typo-primary;
    transition: color 0.15s;
    -webkit-transition: color 0.15s;

    &:hover {
      color: @fileTable-typo-secondary;
    }
  }
}

.headerName {
  width: @fileTable-width-name;
}

.row {
  display: flex;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  padding: @space-xs + @space-3xs 0 @space-xs + @space-3xs 0;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}

.selected {
  background-color: @fileTable-bg-hover !important;
  color: @fileTable-typo-secondary;

  &:hover {
    background-color: @fileTable-bg-selected !important;
  }
}

.columns {
  display: flex;
  align-items: center;
}

.column {
  padding: 0 @space-3xl 0 @space-s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  display: flex;
  gap: @space-s;
  align-items: center;
}

.nameText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extension {
  min-width: @fileTable-width-extension;
  max-width: @fileTable-width-extension;
}

.date {
  min-width: @fileTable-width-date;
  max-width: @fileTable-width-date;
}

.size {
  min-width: @fileTable-width-size;
  max-width: @fileTable-width-size;
}

.icon {
  font-size: 32px;
}

.iconUnknown {
  color: @magenta-secondary;
}

.iconFolder {
  color: @orange-secondary;
}

.iconPdf {
  color: @red;
}

.iconPpt {
  color: @volcano;
}

.iconText {
  color: @purple;
}

.iconWord {
  color: @blue;
}

.iconExcel {
  color: @green;
}

.iconZip {
  color: @light-blue;
}

.iconImage {
  color: @yellow;
}