@import '../variables';

.container {
  width: 100%;
  height: @header-height;
  padding: 0 @space-l;
  background-color: @default;
  border-bottom: 1px solid @secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side {
  display: flex;
  align-items: center;
}

.logo {
  width: @sidebar-width;
  height: 32px;
  transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;

  &:hover {
    opacity: 0.9;
  }
}

.search {
  margin-left: @space-l;
  width: calc(@container-width * 0.53);
}

.links {
  display: flex;
  gap: @space-xs;
  margin-right: @space-m;
}

.link {
  border-radius: 50%;
}

.avatar {
  position: relative;
  background: @gradient;
  padding: @space-3xs;
  border-radius: 50%;
  cursor: pointer;
}

.avatarOverlay {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
}

.avatar {
  span {
    transition: color 0.15s;
    -webkit-transition: color 0.15s;
  }

  &:hover {
    span {
      color: @control-default-typo-secondary;
    }
  }

  &:hover .avatarOverlay {
    background-color: @transparent-1;
  }

  &__menu {
    ul {
      width: @sidebar-width !important;
    }
  }
}

.user {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__name {
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email {
    font-size: 10px;
    line-height: 11px;
    color: @transparent-6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}