@import '../variables';

.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: @space-xl;
  width: @sidebar-width + @space-xl * 2;
  background-color: @default;
  border-right: 1px solid @secondary;
}

.sidebarContainer {


  height: 100%;
  //background-color: @default;
}

.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: @space-xl;
  width: 100%;
}

.stickyBottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: @space-xl;
  width: 100%;
}

.container {
  width: @container-width;
  min-height: @container-height;
  //background: @default;
  //box-shadow: @shadow-group;
  //border-radius: @space-xs @space-xs 0 0;
  //overflow: hidden;
  //padding: (@space-s - @space-3xs) @space-2xs @space-m @space-2xs;
}

.content {
  margin: 0 @space-xl @space-xl @space-xl;
}