@import '../variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: @space-3xs;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: @space-2xl;
  padding: @space-xs - @space-3xs @space-xs;
  font-size: 16px;
  line-height: 16px;
  color: @transparent-5;
  border-radius: @border-radius;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;

  &:hover, &:active {
    color: @transparent-7;
    background: @transparent-0-5;
  }

  .title {
    margin-left: @space-xs;
  }
}

.item_active {
  position: relative;

  &, &:hover, &:active {
    color: @transparent-8;
    background: @transparent-0-5;
  }

  &:after {
    background: @gold-primary;
    border-radius: 2px;
    content: "";
    height: 20px;
    left: calc((@space-xs - @space-3xs) * -1);
    position: absolute;
    top: calc(50% - 10px);
    width: 3px;
  }
}