.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
}

.item {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: var(--space-2xl);
    padding: var(--space-xs) 10px var(--space-xs) 10px;
    font-size: 16px;
    line-height: 16px;
    gap: var(--space-xs);
    color: rgba(255, 255, 255, 0.5);
    border-radius: var(--control-radius);
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
}

.itemTitle {
    margin-left: var(--space-xs);
}

.item:active, .item:hover {
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.05);
}

.item_active, .item_active:active, .item_active:hover {
    font-weight: 500;
    color: var(--color-calendula-gold);
    background: rgba(255, 255, 255, 0.1);
}