@import '../variables';

.container {
  width: 100%;
  max-width: @container-width;
  height: @header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: @space-s - @space-3xs 0 @space-2xs 0;
  padding: @space-s + @space-3xs @space-xl;
}

.controls {
  display: flex;
  align-items: center;
  gap: @space-xs;
}

.controlsDivider {
  width: 1px;
  height: 24px;
  background: @transparent-2;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  backdrop-filter: @backdrop-filter;
  background-color: @background;
  transition: background-color 0.01s;
}

.sticky_active {
  background-color: @pageHeading-bg-sticky;
}