@import '../variables';

.container {
  width: 100%;
  height: @header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: @space-xs 0 @space-2xs 0;
  padding: @space-m @space-xl;
  background: @default;
}

.controls {
  display: flex;
  align-items: center;
  gap: @space-xs;
}

.controlsDivider {
  width: 1px;
  height: 24px;
  background: @transparent-2;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: @default;
  backdrop-filter: @backdrop-filter;
  transition: background-color 0.05s;
}

.sticky_active {
  background-color: @pageHeading-bg-sticky;
}