@import "~antd/dist/antd.dark.less";
@import "./theme.css";

@primary-color: @magenta-base;
@primary-color-hover: @magenta-7;
@primary-color-active: @magenta-7;
@primary-color-outline: fade(@magenta-base, @outline-fade);


@body-background: var(--color-bg-secondary);
@font-family: Roboto, serif;
@border-radius-base: var(--control-radius);

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

