@import "~antd/dist/reset.css";
@import "./variables";

body {
  overflow: overlay;
  background: @secondary;
  color: @text-color-full;
}

a {
  text-decoration: none;
  color: @magenta-primary;

  &:hover, &:active {
    color: @magenta-secondary;
  }
}

.ant-avatar {
  background: @control-default-bg-primary;
  color: @control-default-typo-primary;
}

.ant-dropdown {
  .ant-dropdown-menu {
    background-color: @dark;
    padding: @space-xs - @space-3xs @space-xs;
  }

  .ant-dropdown-arrow::before {
    background-color: @dark;
  }

  .ant-dropdown-menu-item-divider {
    background-color: rgba(253, 253, 253, 0.12) !important;
  }
}

.ant-btn-default {
  box-shadow: none;
  border: none;

  &, &:not(:disabled):focus {
    background: @control-default-bg-primary;
    color: @control-default-typo-primary;
  }

  &:not(:disabled):hover, &:not(:disabled):active {
    background: @control-default-bg-secondary;
    color: @control-default-typo-secondary;
    border-color: @base;
  }
}

.ant-btn-ghost {
  border: none;

  &, &:not(:disabled):focus {
    background: @control-ghost-bg-primary;
    color: @control-ghost-typo-primary;
  }

  &:not(:disabled):hover, &:active {
    background-color: @control-ghost-bg-secondary;
    color: @control-ghost-typo-secondary;
  }
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: @secondary;
  box-shadow: none;
}

input {
  &:-webkit-autofill {
    &, &:hover, &:focus, &:active {
      transition-delay: 3600s;
      transition-property: background-color, color;
    }
  }
}

.ant-input-prefix {
  margin-right: @space-xs;
}

.ant-input-search-button {
  box-shadow: none;
  color: @control-default-typo-primary;
  background-color: @control-default-bg-primary;
}

.ant-input-search {
  .ant-input-lg {
    height: 40px;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-btn-primary {
    &:not(:disabled):hover {
      color: @control-default-typo-secondary;
      background-color: @control-default-bg-secondary;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: @transparent-1-5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: @transparent-2-5;
}