@default: #292929;
@secondary: #202020;

@shadow-group: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 2px 12px rgba(0, 0, 0, 0.32);
@shadow-layer: 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 8px 24px rgba(0, 0, 0, 0.32);
@shadow-modal: 0px 8px 8px rgba(0, 0, 0, 0.08), 0px 12px 28px rgba(0, 0, 0, 0.32);

@space-3xs: 2px;
@space-2xs: 4px;
@space-xs: 8px;
@space-s: 12px;
@space-m: 16px;
@space-l: 20px;
@space-xl: 24px;
@space-2xl: 32px;
@space-3xl: 40px;
@space-4xl: 48px;
@space-5xl: 72px;
@space-6xl: 96px;

@sidebar-width: 240px;
@container-width: calc(100vw - (@space-xl * 2 + @space-l + @sidebar-width));
